# Dependencies
node_modules/

# Logs and OS
*.log
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo

# Local env
.env
.env.*

# Build / cache
dist/
.cache/
.temp/
*.tmp
